.feature-box {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  width: 20%;
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 3.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;

  @include respond($phone) {
    display: grid;
    grid-template-columns: repeat (100px 1fr 1fr);
    text-align: end;

    width: 90%;

    padding: 2rem;
    margin: 0 auto 2.5rem auto;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @include respond($phone) {
      margin-right: 2rem;

      @include respond($phone) {
        grid-column: 1/3;
        font-size: 7rem;
        text-align: center;
      }
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
  }
}
