*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;

  font-size: base-font-size(10px);

  @include respond($tablet-landscape) {
    font-size: base-font-size(9px);
  }

  @include respond($tablet-portrait) {
    font-size: base-font-size(8px);
  }

  @media (min-width: 1800px) {
    font-size: base-font-size(12px);
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond($tablet-portrait) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
